@section title
    {
    <title>
        Dashboard

    </title>
}
<head>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.10.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js" integrity="sha512-+IpCthlNahOuERYUSnKFjzjdKXIbJ/7Dd6xvUp+7bEw0Jp2dg6tluyxLs+zq9BMzZgrLv8886T4cBSqnKiVgUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css" integrity="sha512-cznfNokevSG7QPA5dZepud8taylLdvgr0lDqw/FEZIhluFsSwyvS81CMnRdrNSKwbsmc43LtRd2/WMQV+Z85AQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>DashBoard</h2>
                                    <p>Les statistiques</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="notika-status-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter"> @ViewBag.CountAgriculteures</span></h2>
                        <p>Total Agriculteures</p>
                    </div>
                    <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">@ViewBag.CountAgriculteureFormes</span></h2>
                        <p>Total AgriculteureFormes</p>
                    </div>
                    <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">@ViewBag.CountAdmins</span></h2>
                        <p>Total Admins</p>
                    </div>
                    <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                </div>
            </div>
            </div>
            <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">@ViewBag.CountDemandes</span></h2>
                        <p>Total De demandes</p>
                    </div>
                    <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">@ViewBag.CountPlantes</span></h2>
                        <p>Total De Plantes</p>
                    </div>
                    <div class="sparkline-bar-stats3">2,4,8,4,5,7,4,7,3,5,7,5</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">@ViewBag.CountTerres</span></h2>
                        <p>Total De Terres</p>
                    </div>
                    <div class="sparkline-bar-stats1">2,4,8,4,5,7,4,7,3,5,7,5</div>
                </div>
            </div>
        </div>
    </div>
</div>
 

 <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                            
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">

                                            <h4 class="text-center text-capitalize">Nombre d'authentification dans chaque mois/@ViewBag.Year</h4>
                                                    <div   id="chart1"></div>
                                                                  
                                                            </div>
                                    
                                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
                                            <br />
                             
                                            <h4 class="text-center text-capitalize">Nombre de modification de chaque plante</h4>
                                            <div id="chart2"></div>

                                        </div>
        
                                                      </div>
                                                    </div>
                                              
 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
            <script>


    var chart1 = c3.generate({
    bindto: "#chart1",

    data: {
        columns: [
  
       ['Les mois',
    @for (int i = 0; i < ViewBag.MonthsNames.Count; i++)
    {
        
          @:  @ViewBag.countHowManyUsersAuthentifyEachMonth[i],
    

    }
    
        ]
        ]
    },
    axis: {
        x: {
            type: 'category',
                categories: [ 
                @for (int i = 0; i < ViewBag.MonthsNames.Count; i++)
    {
        @:'@ViewBag.MonthsNames[i].monthName',
    }
    
                ]
   
        }
    }
});

    var chart2= c3.generate({
        bindto: "#chart2",
        data: {
            columns: [
    @for (int i = 0; i < ViewBag.countHowManyChangesOnEachPlante.Count; i++)
    {
        @:['@ViewBag.Plantes[i].Nom', @ViewBag.countHowManyChangesOnEachPlante[i]],
    }
            ],
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.5 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
        }
    });
        </script>